<template>
  <v-container>
    <v-row>
      <v-col md="11">
        <h1>My Faverite Movie</h1>
      </v-col>
      <v-col md="1">
        <v-dialog v-model="dialog" max-width="500px">
          <template v-slot:activator="{ on, attrs }">
            <v-btn class="mx-2" fab dark color="gray" v-bind="attrs" v-on="on">
              <v-icon dark> mdi-plus </v-icon>
            </v-btn>
          </template>
          <v-card>
            <v-card-title>
              <span class="headline">Add Movie</span>
            </v-card-title>

            <v-card-text>
              <v-container>
                <v-row>
                  <v-col>
                    <v-text-field
                      v-model="editedItem.name"
                      label="Name"
                    ></v-text-field>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col>
                    <v-text-field
                      v-model="editedItem.type"
                      label="type"
                    ></v-text-field>
                  </v-col>
                </v-row>
              </v-container>
            </v-card-text>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="green" text @click="addItem()"> Save </v-btn>
              <v-btn color="red" text @click="close()"> Cancel </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
        <v-dialog v-model="dialogDelete" max-width="500px">
          <v-card>
            <v-card-title class="headline">Delete your movie?</v-card-title>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="green" text @click="deleteConfirm()"
                >Yes</v-btn
              >
              <v-btn color="red" text @click="closeDelete()"
                >No</v-btn
              >
              <v-spacer></v-spacer>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-col>
    </v-row>
    <v-data-table
      :headers="headers"
      :items="Item"
      :items-per-page="10"
      class="elevation-1"
    >
      <template v-slot:item.edit="item">
        <v-btn small color="yellow" @click="editItem(item)">
          <v-icon dark>mdi-pencil</v-icon>
        </v-btn>
      </template>
      <template  v-slot:item.delete="item">
        <v-btn dark small color="red" @click="deleteItem(item)">
          Delete
        </v-btn>
      </template>
    </v-data-table>
  </v-container>
</template>

<script>
export default {
  data() {
    return {
      dialog: false,
      dialogDelete: false,
      headers: [
        { text: "edit", value: "edit" },
        { text: "Name", value: "name" },
        { text: "type", value: "type"},
        { text: "", value: "delete", sortable: false }
      ],
      Item: [
        {
          name: "Fast 9",
          type: "Action",
        },
      ],
      Index: -1,
      editedItem: {
        name: "",
        surname: "",
        age: 1,
      },
      defaultItem: {
        name: "",
        surname: "",
        age: 1,
      },
    };
  },
  methods: {
    addItem() {
      console.log("Add");
      console.log(this.Index);
      if (this.Index > -1) {
        Object.assign(this.Item[this.Index], this.editedItem);
      } else {
        this.Item.push(this.editedItem);
      }
      this.close();
    },
    editItem(item) {
      console.log("Edit");
      this.Index = this.Item.indexOf(item.item);
      this.editedItem = Object.assign({}, item.item);
      this.dialog = true;
    },
    deleteItem(item) {
      console.log("Delete");
      this.Index = this.Item.indexOf(item.item);
      this.editedItem = Object.assign({}, item.item);
      this.dialogDelete = true;
    },
    close() {
      this.dialog = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.Index = -1;
      });
    },
    deleteConfirm() {
      this.Item.splice(this.Index, 1);
      this.closeDelete();
    },
    closeDelete() {
      this.dialogDelete = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.Index = -1;
      });
    },
  },
};
</script>
